<div ng-controller="homeController as hc">
    <form name="ccForm" novalidate>
        <div class="form-group">
            <label for="card-number">Card Number</label>
            <input type="text" autocomplete="off" class="form-control input-lg" id="card-number" placeholder="4111 1111 1111 1111" cc-number cc-eager-type cc-format
                    name="ccNumber" ng-model="hc.card.number">
        </div>
        <div class="form-group">
            <label for="pin">Pin</label>
            <input type="text" autocomplete="off" class="form-control input-lg" id="pin" placeholder="1234"
                   name="ccPin" ng-model="hc.card.pin" readonly="readonly" ng-virtual-keyboard="hc.keyboardConfig">
        </div>
    </form>
    <button ng-click="hc.login()" >ok <img style="display: inline;" ng-show="hc.loggingIn" src="/img/gif/loader.gif"></button>
</div>